<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd">

    <php>
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="common">
            <directory>tests/Common</directory>
        </testsuite>
        <testsuite name="array">
            <directory>tests/Array</directory>
        </testsuite>

        <testsuite name="dynamodb">
            <directory>tests/DynamoDB</directory>
        </testsuite>

        <testsuite name="mongodb">
            <directory>tests/MongoDB</directory>
        </testsuite>

        <testsuite name="mysql">
            <directory>tests/MySQL</directory>
        </testsuite>

        <testsuite name="opensearch">
            <directory>tests/Opensearch</directory>
        </testsuite>

        <testsuite name="redis">
            <directory>tests/Redis</directory>
        </testsuite>
    </testsuites>
</phpunit>
